<div id="body-neighbours">
    <ul id="neighbours"></ul>
</div>

<input type="button" id="update-neighbour" value="Update" />

<div id="body-clients">
    <ul id="clients"></ul>
</div>

<input type="button" id="update-client" value="Update" />

<form id="saveNeighbourForm"
      method="post">
    <h3>Add new neighbour</h3>
    <p>
        <label for="neighbour-id">Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="neighbour-url">Url:</label>
        <input type="text" name="Url" />
    </p>
    <input type="button" id="save-neighbour" value="Save" />
</form>

<form id="saveClientForm"
      method="post">
    <h3>Add new client</h3>
    <p>
        <label for="client-id">Id:</label>
        <input type="text" name="Id" />
    </p>
    <p>
        <label for="client-pin">Pin:</label>
        <input type="text" name="Pin" />
    </p>
    <input type="button" id="save-client" value="Save" />
</form>

@section scripts{
    <script type="text/javascript">
        $('#update-neighbour').click(function () {
            $.getJSON('protected/neighbours', function (contactsJsonPayload) {
                $('#neighbours').empty();
                $(contactsJsonPayload).each(function (i, item) {
                    $('#neighbours').append('<li>' + item.Id + '  ' + item.Url + '  ' + item.IsSpecial + '</li>');
                });
            });
        });

        $('#save-neighbour').click(function () {
            $.post("protected/neighbours",
                $("#saveNeighbourForm").serialize(), function (data, status, xhr) {
                },
                "json"
            );
        });

        $('#update-client').click(function () {
            $.getJSON('public/clients', function (contactsJsonPayload) {
                $('#clients').empty();
                $(contactsJsonPayload).each(function (i, item) {
                    $('#clients').append('<li>' + item.Id + '  ' + item.Pin + '  ' + item.ActivatedList.Passwords + ' ' + item.ActivatedList.CurrentIndex + '</li>');
                });
            });
        });

        $('#save-client').click(function () {
            $.post("public/clients",
                $("#saveClientForm").serialize(), function (data, status, xhr) {
                },
                "json"
            );
        });
    </script>
}